#display-adds{
    border: 1px solid rgb(255, 255, 255);
    display: none;
    position: absolute;
    background-color: rgb(255, 149, 0);
    font-size: 40px;
    color: black;
    z-index: 100;
    bottom: 70px;
    left: 170px;
    cursor: url("/assets/images/elements/cursorInfo"), pointer;
}
.demo{
    border: 1px solid rgb(255, 255, 255);
    display: none;
    position: absolute;
    background-color: rgb(255, 149, 0);
    color: black;
    z-index: 100;
    bottom:70px;
    cursor: url("/assets/images/elements/cursorInfo"), pointer;
}

#add-karen{
    display: none;
    margin: 120px 0 0 310px;
    
    
}
#add-rat{
    display: none;
    margin: 100px 0 0 360px;
    
}
#add-fat{
    display: none;
    margin: 100px 0 0 395px;
    
}
#add-puddle{
    display: none;
    margin: 100px 0 0 430px;
    
}
#add-fire{
    display: none;
    margin: 100px 0 0 480px;
    
}
#add-boss{
    display: none;
    margin: 100px 0 0 515px;
    
}
#add-goose{
    display: none;
    margin: 100px 0 0 550px;
    
}
#add-discount{
    display: none;
    margin: 100px 0 0 595px;
    
}
#add-cart{
    display: none;
    margin: 100px 0 0 660px;
    
}
#add-baby{
    display: none;
    margin: 100px 0 0 700px;
    
}