#info-manager {
  color: rgb(0, 0, 0);
  position: absolute;
  display: inline-block;
  font-size: 120%;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(-45deg, #ee7752, #d9ff01, #0d0aca, #23d5ab, #99ea17, #b106b1, #daa410);
  background-size: 900% 900%;
  opacity: 1;
  top: 1%;
  right: 1%;
  border-radius: 30px;
  z-index: 100;
  font-style: oblique;
  padding: 10px;
  animation: gradient 15s ease infinite;
  transition: all ease-in-out 4s;
}
#info-cheatsheet div{
  margin-bottom: 10px;
  justify-content: space-evenly;
  display: flex;
}
#info-cheatsheet {
  color: white;
  position: absolute;
  display: none;
  margin-top: 30px;
  font-size: calc(14px + 0.5vw);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  opacity: 0.1;
  left: 20px;
  width: 210px;
  height: 650px;
  border-radius: 30px;
  z-index: 90;
  padding: 10px;
  font-weight: 900;
  text-shadow: 1px 1px rgb(117, 117, 117);
  animation: gradient 40s ease infinite;
  transition: all ease-in-out 0.5s;
  transition-delay: 3s;
  margin-bottom: 0px;
}
#info-cheatsheet:hover {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  opacity: 1;
  transition: all ease-in-out 0.5s;
  backdrop-filter: blur(10px);
  background-color: rgba(6, 157, 170, 0.541);
}
#intro-canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  display: none;
  position: relative;
  width: 60%;
  height: 600px;
  border: 3px dashed rgb(250, 250, 250);
  background-image: url(/assets/images/fondos/mall\ 2.jpeg);
  background-size: 100%;
  transition: all ease-in-out 1s;
  transition-delay: 1s;
}
#intro-canvas:hover {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 850px;
  display: block;
  position: relative;
  background-image: url(/assets/images/fondos/mall\ 4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all ease-in-out 1s;
}

h2 {
  font-size: 30px;
  border-radius: 20px;
  border: 3px dotted rgb(0, 0, 0);
  display: inline;
  position: absolute;
  color: black;
  right: 0px;
  bottom: 0px;
  font-family: Verdana;
  font-style: oblique;
  background-color: rgba(237, 226, 226, 0.5);
  text-decoration-color: rgb(29, 142, 213);
}

/* hower */
/* info 1 */

#infoSecret3 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  font-size: 25px;
  width: 80px;
  height: 80px;
  top: 15%;
  right: 2%;
  background: rgba(89, 84, 84, 0);
  transition: border-radius 2s, border-color 3s;
  opacity: 0;
  z-index: 100;
}
#infoSecret3:hover {
  background-image: url(/assets/images/infos/secretarc.png);
  width: 80px;
  height: 80px;
  font-size: 1.85em;
  background-size: 100%;
  border: none;
  background-repeat: no-repeat;
  transform: rotate(720deg);
  transition: transform 0.7s, opacity 1s;
  opacity: 1;
  font-size: 0;
}
#infoSecret3:hover:after {
  content: url(/assets/images/infos/secret3.png);
  position: absolute;
  top: -100%;
  right: 110%;
  opacity: 1;
  transition: opacity 0.5s 0.4s;
}
#infoSecret2 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  font-size: 25px;
  width: 80px;
  height: 80px;
  bottom: 50%;
  right: 1%;
  background: rgba(89, 84, 84, 0);
  transition: border-radius 2s, border-color 3s;
  opacity: 0;
}
#infoSecret2:hover {
  background-image: url(/assets/images/infos/secretarc.png);
  width: 80px;
  height: 80px;
  font-size: 1.85em;
  background-size: 100%;
  border: none;
  background-repeat: no-repeat;
  transform: rotate(720deg);
  transition: transform 0.7s, opacity 1s;
  opacity: 1;
  font-size: 0;
}
#infoSecret2:hover:after {
  content: url(/assets/images/infos/secret2.png);
  position: absolute;
  top: -100%;
  right: 110%;
  opacity: 1;
  transition: opacity 0.5s 0.4s;
}
#infoSecret1 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  font-size: 25px;
  width: 80px;
  height: 80px;
  bottom: 1%;
  left: 1%;
  background: rgba(89, 84, 84, 0);
  transition: border-radius 2s, border-color 3s;
  opacity: 0;
}
#infoSecret1:hover {
  background-image: url(/assets/images/infos/secretarc.png);
  width: 80px;
  height: 80px;
  font-size: 1.85em;
  background-size: 100%;
  border: none;
  background-repeat: no-repeat;
  transform: rotate(720deg);
  transition: transform 0.7s, opacity 1s;
  opacity: 1;
  font-size: 0;
}
#infoSecret1:hover:after {
  content: url(/assets/images/infos/secret1.png);
  position: absolute;
  top: -100%;
  right: -630%;
  opacity: 1;
  transition: opacity 0.5s 0.4s;
}
#info0 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 25px;
  height: 120px;
  top: 5%;
  right: 20%;
  background: rgba(89, 84, 84, 0);
  transition: border-radius 2s, border-color 3s;
  border: none;
  opacity: 0.1;
}
#info0:hover {
  background-image: url(/assets/images/infos/secretarc.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(720deg);
  transition: transform 0.7s, opacity 1s;
  opacity: 1;
  font-size: 0;

}
#info0:hover:after {
  content: url(/assets/images/infos/secretfold.png);
  position: absolute;
  top: 90%;
  right: 10%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}
#info1 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 25px;
  text-shadow: 1px 1px black ;
  height: 120px;
  top: 5%;
  right: 11%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(253, 0, 0);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info1:hover {
  background-image: url(/assets/images/infos/you.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(255, 0, 255);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 3s;
  opacity: 1;
  font-size: 0;

}
#info1:hover:after {
  content: url(/assets/images/infos/InfonfoNew.png);
  position: absolute;
  top: -32%;
  right: 110%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}

/* info 2 */
#info2 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 25px;
  text-shadow: 1px 1px black ;
  height: 120px;
  top: 22%;
  right: 11%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(0, 255, 0);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info2:hover {
  background-image: url(/assets/images/infos/karen1.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(255, 0, 255);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 3s;
  opacity: 1;
  font-size: 0;

}
#info2:hover:after {
  content: url(/assets/images/infos/KarenInfoNew.png);
  position: absolute;
  font-size: 2px;
  top: -20%;
  right: 110%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}

/* info 3 */
#info3 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 25px;
  text-shadow: 1px 1px black ;
  height: 120px;
  top: 39%;
  right: 11%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(0, 68, 255);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info3:hover {
  background-image: url(/assets/images/infos/bosskaren1.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(255, 0, 255);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 3s;
  opacity: 1;
  font-size: 0;

}
#info3:hover:after {
  content: url(/assets/images/infos/MegakarenInfoNew.xcf.png);
  position: absolute;
  font-size: 2px;
  top: -140%;
  right: 110%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}

/* info 2 */
#info4 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 25px;
  text-shadow: 1px 1px black ;
  height: 120px;
  top: 56%;
  right: 11%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(238, 255, 0);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info4:hover {
  background-image: url(/assets/images/infos/bodybuilder.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(250, 125, 0);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 3s;
  font-size: 0;
  opacity: 1;
}
#info4:hover:after {
  content: url(/assets/images/infos/KorenInfoNew.png);
  position: absolute;
  font-size: 2px;
  top: -260%;
  right: 110%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}
/* info 2 */

#info4a {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 25px;
  text-shadow: 1px 1px black ;
  height: 120px;
  top: 73%;
  right: 11%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(238, 255, 0);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info4a:hover {
  background-image: url(/assets/images/infos/fatt.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(250, 125, 0);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 3s;
  font-size: 0;
  opacity: 1;
}
#info4a:hover:after {
  content: url(/assets/images/infos/FatInfoNew.png);
  position: absolute;
  font-size: 2px;
  top: -370%;
  right: 110%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}



#info5 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 25px;
  text-shadow: 1px 1px black ;
  height: 120px;
  top: 5%;
  right: 2%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(253, 0, 0);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info5:hover {
  background-image: url(/assets/images/infos/dis3.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(255, 0, 255);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 3s;
  opacity: 1;
  font-size: 0;

}
#info5:hover:after {
  content: url(/assets/images/infos/infoGains.png);
  position: absolute;
  top: 90%;
  right: 270%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}

/* info 2 */
#info6 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 25px;
  text-shadow: 1px 1px black ;
  height: 120px;
  top: 22%;
  right: 2%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(0, 255, 0);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info6:hover {
  background-image: url(/assets/images/infos/ratima.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(255, 0, 255);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 3s;
  opacity: 1;
  font-size: 0;

}
#info6:hover:after {
  content: url(/assets/images/infos/RatInfoNew.png);
  position: absolute;
  font-size: 2px;
  top: -20%;
  right: 270%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}

/* info 3 */
#info7 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 25px;
  text-shadow: 1px 1px black ;

  height: 120px;
  top: 39%;
  right: 2%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(0, 68, 255);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info7:hover {
  background-image: url(/assets/images/infos/gooses.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(255, 0, 255);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 3s;
  opacity: 1;
  font-size: 0;

}
#info7:hover:after {
  content: url(/assets/images/infos/GooseInfoNew.png);
  position: absolute;
  font-size: 2px;
  top: -140%;
  right: 270%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}

#info8 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 21px;
  text-shadow: 1px 1px black ;

  height: 120px;
  top: 56%;
  right: 2%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(238, 255, 0);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info8:hover {
  background-image: url(/assets/images/infos/cactus1.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(250, 125, 0);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 3s;
  font-size: 0;
  opacity: 1;
}
#info8:hover:after {
  content: url(/assets/images/infos/ObstaclesInfoNew.png);
  position: absolute;
  font-size: 2px;
  top: -260%;
  right: 270%;
  opacity: 1;
  transition: opacity 1s 0.4s;
}

#info9 {
  cursor: url("/assets/images/elements/cursorHower"), pointer;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  color: rgb(251, 251, 251);
  width: 120px;
  font-size: 22px;
  text-shadow: 1px 1px black ;
  height: 120px;
  top: 73%;
  right: 2%;
  background: rgb(89, 84, 84, 0.3);
  border: 8px solid rgb(238, 255, 0);
  border-radius: 10px;
  transition: border-radius 2s, border-color 3s;
  opacity: 1;
}
#info9:hover {
  background-image: url(/assets/images/infos/cust.png);
  width: 130px;
  height: 130px;
  font-size: 1.85em;
  background-size: 100%;
  background-repeat: no-repeat;
  border-color: rgb(250, 125, 0);
  transform: rotate(720deg);
  border-radius: 50%;
  transition: transform 0.7s, opacity 46s;
  font-size: 0;
  opacity: 1;
}
#info9:hover:after {
  content: url(/assets/images/infos/CustomerInfoNew.png);
  position: absolute;
  font-size: 2px;
  top: -370%;
  right: 270%;
  opacity: 1;
  transition: opacity 1s 64s;
}