/* #info-data1{
  width:1010px;
  background-color: blue;
  height: 75px;
  left: 250px;
  bottom: 50px;
  position: absolute;
  z-index: 100;
} */


:root {
  --clr-neon: rgb(226, 174, 4);
  --clr-bg: rgb(0, 0, 0);
  --clr-neonpink: rgb(231, 0, 181);
  --clr-neondir: rgb(0, 223, 231);
  --clr-neonopt: rgb(119, 102, 248);
  --clr-neonwhite: rgb(248, 247, 255);
  --clr-neonbu: rgb(248, 109, 109);
  --clr-neonbu1: rgb(245, 55, 55);
  --clr-neonbu2: rgb(255, 0, 0);
  --clr-bgdir: rgb(0, 0, 0);
  --clr-ratinva: rgb(140, 7, 185);
  --clr-destruto: rgb(4, 135, 47);
  --clr-survival: rgb(22, 55, 221);
  --clr-b: rgb(255, 251, 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.neon-button-box {
  display: flex;
  justify-content: space-evenly;
}
.neon-button {
  font-size: 3vw;
  display: flex;
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
  transition: all ease-in-out 2s;
  top: 30vh;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  left: 0;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 0.2s linear;
}

.neon-button:hover,
.neon-button:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}
.neon-butt-play {
  position: absolute;
  z-index: 100;
  font-size: 1.9vw;
  display: flex;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neondir);
  border: var(--clr-neondir) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neondir), 0 0 0.5em 0 var(--clr-neondir);
  left: 3vw;
  top: 1vw;
  transition: all ease-in-out 3s;
}

.neon-butt-play::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neondir);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 1;
}
.neon-butt-play:hover{
  opacity:1;
  transition: 1s;
  
}
.neon-butt-play::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neondir);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neondir);
  z-index: -1;
  transition: opacity 0.8s linear;
}

.neon-butt-play:hover,
.neon-butt-play:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}

.neon-butt-play:hover::before,
.neon-butt-play:focus::before {
  opacity: 1;
}
.neon-butt-play:hover::after,
.neon-butt-play:focus::after {
  opacity: 1;
}


.neon-butt-training {
  position: absolute;
  z-index: 100;
  font-size: 1.9vw;
  display: flex;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neondir);
  border: var(--clr-neondir) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neondir), 0 0 0.5em 0 var(--clr-neondir);
  left: 20vw;
  top: 1vw;
  transition: all ease-in-out 3s;
}

.neon-butt-training::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neondir);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 1;
}
.neon-butt-training:hover{
  opacity:1;
  transition: 1s;
  
}
.neon-butt-training::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neondirdir);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neondir);
  z-index: -1;
  transition: opacity 0.8s linear;
}

.neon-butt-training:hover,
.neon-butt-training:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}

.neon-butt-training:hover::before,
.neon-butt-training:focus::before {
  opacity: 1;
}
.neon-butt-training:hover::after,
.neon-butt-training:focus::after {
  opacity: 1;
}

/* neon button options */
.neon-butt-options {
  position: absolute;
  z-index: 100;
  font-size: 1vw;
  display: flex;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neonopt);
  border: var(--clr-neonopt) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.5;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neonopt), 0 0 0.5em 0 var(--clr-neonopt);
  left: 0.1vw;
  top: 1vw;
  transition: all ease-in-out 1s;
}

.neon-butt-options::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neonopt);
  top: 70%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 1;
}
.neon-butt-options:hover{
  opacity:1;
  transition: 1s;
  
}
.neon-butt-options::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neonopt);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neonopt);
  z-index: -1;
  transition: opacity 0.8s linear;
}

.neon-butt-options:hover,
.neon-butt-options:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}

.neon-butt-options:hover::before,
.neon-butt-options:focus::before {
  opacity: 1;
}
.neon-butt-options:hover::after,
.neon-butt-options:focus::after {
  opacity: 1;
}

/* neon button opctions */


/* reload btn */

.neon-butt-reload {
  display: none;
  position: absolute;
  z-index: 1030;
  font-size: 2vw;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neonopt);
  border: var(--clr-neonopt) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.5;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neonopt), 0 0 0.5em 0 var(--clr-neonopt);
  left: 0.1vw;
  top: 1vw;
  transition: all ease-in-out 1s;
  left: 50%;
  transform: translateX(-50%);
}

.neon-butt-reload::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neonopt);
  top: 70%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 1;
}
.neon-butt-reload:hover{
  opacity:1;
  transition: 1s;
  
}
.neon-butt-reload::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neonopt);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neonopt);
  z-index: -1;
  transition: opacity 0.8s linear;
}

.neon-butt-reload:hover,
.neon-butt-reload:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}

.neon-butt-reload:hover::before,
.neon-butt-reload:focus::before {
  opacity: 1;
}
.neon-butt-reload:hover::after,
.neon-butt-reload:focus::after {
  opacity: 1;
}

/* reload btn */
.neon-bu {
  position: absolute;
  z-index: 100;
  font-size: 2rem;
  display: none;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neonbu);
  border: var(--clr-neonbu) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em rgba(221, 6, 6, 0.3), 0 0 0.45em currentColor;
  padding: 5px 25px;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neonbu), 0 0 0.5em 0 var(--clr-neonbu);
  left: 70px;
  top: 900px;
  width: 150px;
}
.neon-bu::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neonbu);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.3;
}
.neon-bu:hover{
  opacity:1;
  transition: 1s;
}
.neon-bu::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neonbu);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neonbu);
  z-index: -1;
  transition: opacity 0.8s linear;
}

.neon-bu:hover,
.neon-bu:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}
.neon-bu:hover::before,
.neon-bu:focus::before {
  opacity: 1;
}
.neon-bu:hover::after,
.neon-bu:focus::after {
  opacity: 1;
}


/* botones de inicio para modalidades de juego */
.justify-evenly{
  justify-content: space-around;
  display: flex;
  width: 100%;
}
#neon-easy {
  z-index: 100;
  transition: all ease-in-out 1s;
  transition-delay: 1s;
  font-size: calc(10px + 1.5vw);
  display: inline-block;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-ratinva);
  border: var(--clr-ratinva) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em rgba(221, 6, 6, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-ratinva), 0 0 0.5em 0 var(--clr-ratinva);
  bottom: 8%;
}

#neon-easy::before {
  pointer-events: none;
  content: "";
  background: var(--clr-ratinva);
  top: 100%;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.3;
}
#neon-easy:hover{
  opacity:1;
  transition: all ease-in-out 0.4s;
  content: BULALA;
}
#neon-easy::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-ratinva);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-ratinva);
  z-index: -1;
  transition: opacity 0.8s linear;
}

#neon-easy:hover,
#neon-easy:focus {
  color: var(--clr-b);
  text-shadow: none;
}
#neon-easy:hover::before,
#neon-easy:focus::before {
  opacity: 1;
}
#neon-easy:hover::after,
#neon-easy:focus::after {
  opacity: 1;
}


#neon-normal {
  z-index: 100;
  transition: all ease-in-out 1s;
  transition-delay: 1s;
  font-size: calc(10px + 1.5vw);
  display: inline-block;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-destruto);
  border: var(--clr-destruto) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em rgba(221, 6, 6, 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-destruto), 0 0 0.5em 0 var(--clr-destruto);

  bottom: 8%;
}

#neon-normal::before {
  pointer-events: none;
  content: "";
  background: var(--clr-destruto);
  top: 100%;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.3;
}
#neon-normal:hover{
  opacity:1;
  transition: all ease-in-out 0.4s;
}
#neon-normal::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-destruto);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-destruto);
  z-index: -1;
  transition: opacity 0.8s linear;
}

#neon-normal:hover,
#neon-normal:focus {
  color: var(--clr-b);
  text-shadow: none;
}
#neon-normal:hover::before,
#neon-normal:focus::before {
  opacity: 1;
}
#neon-normal:hover::after,
#neon-normal:focus::after {
  opacity: 1;
}


#neon-hard {
  z-index: 100;
  transition: all ease-in-out 1s;
  transition-delay: 1s;
  font-size: calc(10px + 1.5vw);
  display: inline-block;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neonbu2);
  border: var(--clr-neonbu2) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em rgba(221, 6, 6, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neonbu2), 0 0 0.5em 0 var(--clr-neonbu2);
  bottom: 8%;
}

#neon-hard::before {
  pointer-events: none;
  content: "";
  background: var(--clr-neonbu2);
  top: 100%;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.3;
}
#neon-hard:hover{
  opacity:1;
  transition: all ease-in-out 0.4s;
}
#neon-hard::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neonbu2);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neonbu2);
  z-index: -1;
  transition: opacity 0.8s linear;
}
#neon-hard:hover,
#neon-hard:focus {
  color: var(--clr-b);
  text-shadow: none;
}
#neon-hard:hover::before,
#neon-hard:focus::before {
  opacity: 1;
}
#neon-hard:hover::after,
#neon-hard:focus::after {
  opacity: 1;
}


#neon-superhard {
  z-index: 100;
  transition: all ease-in-out 1s;
  transition-delay: 1s;
  font-size: calc(10px + 1.5vw);
  display: inline-block;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var( --clr-survival);
  border: var( --clr-survival) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em rgba(221, 6, 6, 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var( --clr-survival), 0 0 0.5em 0 var( --clr-survival);
  bottom: 8%;
}

#neon-superhard::before {
  pointer-events: none;
  content: "";
  background: var( --clr-survival);
  top: 100%;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.3;
}
#neon-superhard:hover{
  opacity:1;
  transition: all ease-in-out 0.4s;
}
#neon-superhard::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var( --clr-survival);
  opacity: 0;
  border-radius: 30px;
  background-color: var( --clr-survival);
  z-index: -1;
  transition: opacity 0.8s linear;
}

#neon-superhard:hover,
#neon-superhard:focus {
  color: var(--clr-b);
  text-shadow: none;
}
#neon-superhard:hover::before,
#neon-superhard:focus::before {
  opacity: 1;
}
#neon-superhard:hover::after,
#neon-superhard:focus::after {
  opacity: 1;
}





/* los botones que aparecen Pause/ Start cuando se pulsan los niveles  */


.neon-butteasy {
  position: absolute;
  z-index: 100;
  font-size: 2rem;
  display: none;
  background-color: rgb(175, 101, 235);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neondir);
  border: var(--clr-neondir) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neondir), 0 0 0.5em 0 var(--clr-neondir);

  left: 2%;
  top: 2%;
}

.neon-butteasy::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neondir);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 1;
}
.neon-butteasy:hover{
  opacity:1;
  transition: 1s;
}
.neon-butteasy::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neondirdir);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neondir);
  z-index: -1;
  transition: opacity 0.8s linear;
}

.neon-butteasy:hover,
.neon-butteasy:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}

.neon-butteasy:hover::before,
.neon-butteasy:focus::before {
  opacity: 1;
}
.neon-butteasy:hover::after,
.neon-butteasy:focus::after {
  opacity: 1;
}



.neon-buttnormal {
  position: absolute;
  z-index: 100;
  font-size: 2rem;
  display: none;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neondir);
  border: var(--clr-neondir) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neondir), 0 0 0.5em 0 var(--clr-neondir);

  left: 2%;
  top: 2%;
}

.neon-buttnormal::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neondir);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 1;
}
.neon-buttnormal:hover{
  opacity:1;
  transition: 1s;
}
.neon-buttnormal::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neondirdir);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neondir);
  z-index: -1;
  transition: opacity 0.8s linear;
}

.neon-buttnormal:hover,
.neon-buttnormal:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}

.neon-buttnormal:hover::before,
.neon-buttnormal:focus::before {
  opacity: 1;
}
.neon-buttnormal:hover::after,
.neon-buttnormal:focus::after {
  opacity: 1;
}


.neon-butthard {
  position: absolute;
  z-index: 100;
  font-size: 2rem;
  display: none;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neondir);
  border: var(--clr-neondir) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neondir), 0 0 0.5em 0 var(--clr-neondir);

  left: 2%;
  top: 2%;
}

.neon-butthard::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neondir);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 1;
}
.neon-butthard:hover{
  opacity:1;
  transition: 1s;
}
.neon-butthard::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neondirdir);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neondir);
  z-index: -1;
  transition: opacity 0.8s linear;
}

.neon-butthard:hover,
.neon-butthard:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}

.neon-butthard:hover::before,
.neon-butthard:focus::before {
  opacity: 1;
}
.neon-butthard:hover::after,
.neon-butthard:focus::after {
  opacity: 1;
}



.neon-buttSuperhard {
  position: absolute;
  z-index: 100;
  font-size: 2rem;
  display: none;
  background-color: rgb(27, 4, 46);
  cursor: url("https://res.cloudinary.com/dfrda73uc/raw/upload/v1688381736/karengedon/elements/cursorInfo_bjytyq"), pointer;
  text-decoration: none;
  color: var(--clr-neondir);
  border: var(--clr-neondir) 0.125em solid;
  padding: 5px 10px;
  border-radius: 30px;
  opacity: 0.3;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neondir), 0 0 0.5em 0 var(--clr-neondir);

  left: 2%;
  top: 2%;
}

.neon-buttSuperhard::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neondir);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 1;
}
.neon-buttSuperhard:hover{
  opacity:1;
  transition: 1s;
}
.neon-buttSuperhard::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neondirdir);
  opacity: 0;
  border-radius: 30px;
  background-color: var(--clr-neondir);
  z-index: -1;
  transition: opacity 0.8s linear;
}

.neon-buttSuperhard:hover,
.neon-buttSuperhard:focus {
  color: var(--clr-bgdir);
  text-shadow: none;
}

.neon-buttSuperhard:hover::before,
.neon-buttSuperhard:focus::before {
  opacity: 1;
}
.neon-buttSuperhard:hover::after,
.neon-buttSuperhard:focus::after {
  opacity: 1;
}
