
h5{
  margin: 10px;
}
#time {
  position: relative;
  padding: 10px;
  top: 100px;
  left: -205px;
  right: 0;
  font-size: 30px;
  color: rgb(8, 218, 255);
  text-shadow: 1px 1px white;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 30px;
}
#main-canvas {
  display: none;
  position: absolute;
  background-image: url(/assets/images/fondos/dados.jpeg);
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  padding: 0 10px 200px 240px;
}

#canvas {
  border: 1px solid rgb(227, 147, 147);
  position:absolute;
  background-image: url(/assets/images/fondos/can4mod.png);
  background-size: 100%;
  left: 240px
}
#queesesto {
  font-size: 50px;
  text-align: center;
}
.event-alert-karen {
  padding: 2px 2px;
  margin: 0;
  color: chocolate;
  display: none;
  text-shadow: 1px 1px rgb(224, 8, 8);
  border: 3px solid red;

}
.event-alert {
  padding: 2px 2px;
  margin: 0;
  color: chocolate;
  display: none;
  border: 1px solid red;
}

/* instrucciones de movimiento start*/

u {
  font-size: 20px;
}
/* Instrucciones de movimiento End */

#cursor {
  cursor: url("/assets/images/elements/cursor.cur"), pointer;
  place-items: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

#ok {
  color: white;
  display: inline-flex;
  border: 3px solid rgb(3, 59, 3);
  padding: 2px 4px;
}
#ice {
  color: white;
  display: inline-flex;
  border: 3px solid rgb(3, 59, 3);
  padding: 2px 4px;
  display: none;
  margin: 0px;
}
#poisoned {
  color: rgb(214, 59, 245);
  display: inline-flex;
  border: 3px solid rgb(157, 6, 177);
  padding: 2px 4px;
  display: none;
  margin: 0px;
}
.good-alert {
  color: chocolate;
  display: inline-flex;
  border: 3px solid rgb(3, 59, 3);
  padding: 2px 4px;
  display: none;
}
#water-alert{
  background-color: rgba(0, 217, 255, 0.244);
}
#fire-alert{
  background-color: rgba(255, 0, 0, 0.244);
}
#forms-position {
  position: absolute;
  margin-left: 1210px;
  margin-top: 130px;
  display: flex;
  z-index: 1;
}
.forms-item {
  width: 60px;
  height: 50px;
  display: inline-block;
  margin-right: -30px;
}

#loseDead {
  display: none;
  position: absolute;
  margin-left: 250px;
  margin-top: 585px;
  z-index: 100;
}
#loseDied {
  display: none;
  position: absolute;
  margin-left: 250px;
  margin-top: 85px;
  z-index: 100;
}
#loseRespect {
  display: none;
  position: absolute;
  margin-left: 250px;
  margin-top: 85px;
  z-index: 100;
}
#loseClaim {
  display: none;
  position: absolute;
  margin-left: 250px;
  margin-top: 85px;
  z-index: 100;
}
#win {
  display: none;
  position: absolute;
  margin: 3.5% 0 0 27%;
  z-index: 100;
}

#losePos{
  position: absolute;
  display: flex;
}