body{
  background-size: 100%;
  background-color: black;
  color: black
}
#time{
  display: flex;
  position: absolute;
  margin-top: 30px;
  margin-left: 1020px;
  font-size: 30px;
  width: 160px;
  background-color: rgb(185, 155, 90);
  color: rgb(0, 0, 0);
  border: 4px solid rgb(0, 0, 0);
  border-radius: 30px;
}
#main-canvas{
  display: none;
  position: absolute;
  background-image: url(/assets/images/fondos/dados.jpeg);
  background-size: 100%;
  height: 100%;
  width: 100%;
  padding: 0 1% 16% 15%;
}

#canvas {
    border: 1px solid rgb(227, 147, 147);
    background-image: url(/assets/images/fondos/can.png);
    background-size: 100%;
    left: 1220%;
  }
#queesesto{
  font-size: 50px;
  text-align: center;
}
body{
  background-color: #8d9682;
}
.event-alert{
  padding: 2px 5px;
}

/* instrucciones de movimiento start*/


u{
  font-size:20px;
}
/* Instrucciones de movimiento End */

#cursor{
  cursor:url("/assets/images/elements/cursor.cur"), pointer;
  place-items: center;
  background-color: black;
  color: var(--clr-neon);
}


#status{
  background-color:rgb(0, 255, 26);
  color: black;
  display: inline-flex;
  align-items: flex-start;
  border: 3px dotted blue;
}
#rat-alert{
  background-color: rgb(221, 99, 99);
  color: black;
  display: none;
  border: 2px solid black;
}
#fat-alert{
	background-color: rgb(221, 99, 99);
  color: black;
	display: none;
	border: 2px solid black;
  }
#goose-alert{
	background-color: rgb(221, 99, 99);
  color: black;
	display: none;
	border: 2px solid black;
  }
#baby-alert{
	background-color: rgb(221, 99, 99);
  color: black;
	display: none;
	border: 2px solid black;
  }
#water-alert{
	background-color: rgb(9, 246, 246);
  color: black;
	display: none;
	border: 2px solid rgb(38, 3, 233);
  }
#fire-alert{
	background-color: rgb(223, 159, 9);
  color: black;
	display: none;
	border: 2px solid rgb(224, 8, 8);
  }
#upgrade-alert{
	background-color: rgb(223, 159, 9);
  color: black;
	display: none;
	border: 2px solid rgb(224, 8, 8);
  }
#karens-alert{
	background-color: rgb(252, 5, 5);
    color: black;
	display: none;
	border: 4px solid black;
  }
#boss-alert{
	background-color: rgb(252, 5, 5);
  color: black;
	display: none;
	border: 7px solid black;
  }
#koren-alert{
	background-color: rgb(252, 5, 5);
  color: black;
	display: none;
	border: 7px solid black;
  }
  
#ok{
  background-color: rgb(0, 128, 0);
  color: white;
  display: inline-flex;
  border: 3px solid rgb(0, 0, 255);
}

#forms-position{
  position: absolute;
  margin-left: 1010px;
  margin-top: 350px;
  display: flex;
  z-index: 1;
}
.forms-item{
  width: 60px;;
  height: 50px;
  display: inline-block;
  margin-right: -30px;

}



#lose{
  display: none;
  position: absolute;
  margin: 8.5% 0 0 17%;
  z-index: 100;
}
#win{
  display: none;
  position: absolute;
  margin: 3.5% 0 0 27%;
  z-index: 100;
}